.container {
  &__height {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
}
.header__title {
  font-size: 72px;
}

.carousel {
  width: 1200px;
  height: 480px;
  &-item {
    overflow: hidden;
    > img {
      height: 480px;
      border-radius: 10px;
    }
  }
}

.active {
  display: flex;
}

.c-m-t {
  margin-top: 25px;
}
