<div class="justify-content-center">
  <div class="c-m-t f-vertical o-list">
    <app-search-bar [whichSearch]="'default'" [label]="'Resetuj'" [module]="'apartments'"></app-search-bar>
  </div>
</div>
<div class="c-m-t">
  <mat-paginator
    [length]="1000"
    [pageSize]="10"
    [pageSizeOptions]="[1, 5, 10, 15]"
    (page)="onPaginateChange($event)"
  >
  </mat-paginator>
</div>
<div class="o-list c-m-t m-b-10" *ngFor="let apartment of filteredApartmentList()">
  <app-apartment-thumb [apartment]="apartment"></app-apartment-thumb>
</div>
