<div class="wrapper fadeInDown m-b-100">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/img/logo.png" id="icon" alt="User Icon" />
    </div>
    <!-- Login Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        formControlName="login"
        placeholder="Login"
      />
      <input
        type="text"
        id="email"
        class="fadeIn second"
        name="email"
        formControlName="email"
        placeholder="Email"
      />
      <input
        type="text"
        id="name"
        class="fadeIn second"
        name="name"
        formControlName="name"
        placeholder="Name"
      />
      <input
        type="text"
        id="surname"
        class="fadeIn second"
        name="surname"
        formControlName="surname"
        placeholder="Surname"
      />
      <input
        type="password"
        id="password"
        class="fadeIn second"
        name="password"
        formControlName="password"
        placeholder="Password"
      />
      <input
        type="password"
        id="repassword"
        class="fadeIn second"
        name="repassword"
        formControlName="confirmPassword"
        placeholder="Repeat password"
      />
      <input
        type="submit"
        class="fadeIn third"
        value="Register"
      />
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter"></div>
  </div>
</div>
