<div class="wrapper fadeInDown m-b-100">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/img/logo.png" id="icon" alt="User Icon" />
    </div>
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <input
        type="text"
        id="login"
        formControlName="login"
        class="fadeIn second"
        placeholder="login"
        autocomplete="username"
      />
      <input
        type="password"
        id="password"
        formControlName="password"
        class="fadeIn third"
        placeholder="password"
        autocomplete="current-password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
