/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
  background-color: rgb(204, 204, 204);
  font-family: Roboto, Arial, sans-serif;
  //overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.f-horizontal {
  display: flex;
  flex-direction: row;
}

.o-width-50 {
  width: 50%;
}

.f-vertical {
  display: flex;
  flex-direction: column;
}

.o-radio-list:only-child {
  margin-bottom: 10px;
}

@for $i from 0 through 100 {
  .m-b-#{$i} {
    margin-bottom: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .m-t-#{$i} {
    margin-top: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .p-b-#{$i} {
    padding-bottom: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .p-t-#{$i} {
    padding-top: #{$i}px;
  }
}

@for $i from 0 through 100 {
  .p-l-#{$i} {
    padding-left: #{$i}px;
  }
}
