<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a
      class="navbar-brand logo"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Apartments
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a
              class="dropdown-item"
              [routerLink]="['/apartments']"
              routerLinkActive="active"
            >
              List of apartments
            </a>
            <a
              class="dropdown-item"
              [routerLink]="['/apartment/add']"
              routerLinkActive="active"
            >
              Add apartment
            </a>
          </div>
        </li>
      </ul>
      <div *ngIf="!userService.isLogged()">
        <span>
          <a>
            <button
              class="mx-1"
              mat-flat-button
              color="primary"
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
            >
              Login
            </button>
          </a>
          <button
            class="mx-1"
            mat-flat-button
            color="primary"
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
          >
            Register
          </button>
        </span>
      </div>
      <div *ngIf="userService.isLogged()">
          <span>
            <a>
              <button
                class="mx-1"
                mat-flat-button
                color="primary"
                [routerLink]="['/user/settings']"
                routerLinkActive="router-link-active"
              >
                Settings
              </button>
            </a>            
            <a>
              <button
                class="mx-1"
                mat-flat-button
                color="primary"
                (click)="userService.logout()"
              >
                Logout
              </button>
            </a>
          </span>
        </div>
    </div>
  </div>
</nav>
